body {
min-height: 100vh;
  display: flex;
  flex-direction: column;
    
}

.header {
    display: flex;
    background-color: #1F2937;
}

.signup {
    
    background-color: #1F2937;
}

.logo {
    width: 200px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    text-align: center;
}

.awesomeimage {
    height: 200px;
    width: 600px;
}

.quote {
    background-color: #e5e7eb;
}

.quotetext {
    font-style: italic;
    font-size: 36px;
}

.wrap{
    flex: 1;
    display: flex;
    flex-direction: column;  
}



/*#1F2937*/