body {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


ul {
  display: flex;
  list-style: none;
  margin: 8px;
}

li {
  padding: 0px 9px;
}

.header {
  display: flex;
  background-color: #1f2937;

  .logo {
    color: #f9faf8;
    flex: 1;
    font-size: 24px;
    padding-left: 150px;
  }

  .links {
    flex: 1;
    color: #f9faf8;
  }
}

.wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  .signup {
    background-color: #1f2937;
    display: flex;

    .signupb {
      background-color: #3882f6;
      color: #f9faf8;
      border-color: #1f2937;
      border-radius: 5px;
    }


    .leftwrap {
      flex: 1;
      padding: 40px;

      .awesome {
        font-size: 48px;
        font-weight: bolder;
        color: #f9faf8;
      }

      .subtext {
        color: #f9faf8;

      }




    }

    .rightwrap {
      flex: 1;
      padding: 40px;

      .awesomeimage {
        height: 200px;
        width: 350px;
        display: flex;
      }
    }
  }


  .random {

    .randomHeader {
      font-style: italic;
      font-size: 36px;
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
    }

    .subtextContainer {
      display: flex;
      flex-direction: row;
      flex: 1;

      .sqcont {

        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        width: 15%;


        .square {
          height: 100px;
          width: 100px;
          background-color: white;
          border-style: solid;
          border-color: #3882f6;
          border-radius: 10px;
        }

        .subtext {
          display: flex;
          flex: 1;
          flex-direction: row;
        }
      }
    }
  }



  .quote {
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;

    .quotetext {
      font-style: italic;
      font-weight: 300;
      font-size: 36px;
      display: flex;
      padding: 30px;
    }

    .thor {
      font-style: italic;
      font-size: 36px;
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;
    }
  }




}

.calltoaction {
  display: flex;
  background-color: #3882f6;

  color: white;

  .signupb {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
    border-radius: 5px;
  }

}

.footer {
  display: flex;
  background-color: #1f2937;
  text-align: center;
}

/*#1F2937*/